[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
gunicorn = "*"
whitenoise = "*"
django-crispy-forms = "*"
environs = {extras = ["django"], version = "*"}
psycopg2 = "*"
django-allauth = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
django-cors-headers = "*"
dj-rest-auth = {extras = ["with_social"], version = "*"}
pillow = "*"
djangorestframework-simplejwt = "*"

[dev-packages]

[requires]
python_version = "3.9"
